<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saferun"> <!-- Confirma que esse package é o mesmo que você usou no Google Cloud -->

    <!-- 🔹 Permissões de localização para corrida -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- Opcional: permite rastrear localização mesmo em segundo plano (como Strava/Google Fit) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>

    <!-- 🔹 Permissões de internet (Firebase/Mapas precisam) -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>





    <application
        android:label="saferun"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">

        <!-- ✅ Aqui vai a chave do Google Maps -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCWId4xkgMBgw05TmoALgyT7BlgrrRItiA"/>



        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Tema inicial enquanto Flutter carrega -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Atalho de launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Flutter embedding -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- 🔹 Queries necessárias para alguns plugins -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
